.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav {
    align-items: center;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #7d7d7f;
    padding: 20px;
}

.nav a {
    margin: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.blog-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.blog-card {
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #282c34;
    margin: 10px;
    padding: 20px;
    width: 20%;
}

.footer {
    align-items: center;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #7d7d7f;
    padding: 20px;
}

.search {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.search input {
    width: 20%;
    height: 30px;
}

.todo-form {
    padding: 50px;
}